{% extends "base.html.twig" %}

{% block titre %}Ma Page d'accueil{% endblock %}

{% block contenu %}
<div class="accueil rounded border border-dark mt-5" id="accueil">
<h1 class="accueil">Bienvenue dans votre Bibliothèque !!!</h1>
</div>
{% endblock %}